body {
    background-color: rgb(39, 39, 39);
}
.Event {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: rgb(39, 39, 39);
}

.Event:hover{
    background-color: rgb(140, 140, 140);
    text-decoration: none;
}

.Event img{
    max-width:400px;
    max-height: 300px;
}

.Event h6, h5 {
  line-height: 0px;
  align-content: center;
}

.pink {
    background: pink;
}

.blue {
    background: rgb(190, 219, 229);
}

.green {
    
    background: rgb(202, 245, 222);
} 

button {
    background-color: rgb(109, 109, 109);
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

button:hover{
    background-color: rgb(140, 140, 140);
    text-decoration: none;
}